@{
    ViewBag.Title = "About";
}

<link href="~/Content/Estilos.css" rel="stylesheet" type="text/css" />

@*<h2> @ViewBag.Title</h2>
<hr />*@
@*<h3>@ViewBag.Message</h3>*@

<section id="contAbout">
    <div class="contText">
        <a href='@Url.Action("Index", "Home")'>
            <img src='@Url.Content("~/Content/img/OffTheLip_V1.jpg")' width="180" height="90" />
        </a>
        <br />
        <br />
        <p class="text">
            In Off The Lip we usually use a direct and clear language... maybe sometimes even too much.
            That is why we want to tell you who we are and what we offer you without too many formalities.
        </p>
    </div>

    <div class="contText">
        <p class="text">
            Off the lip is a young surfing website born in Spain.
            We have established itself as the new era of surfing information. We are changing the surfing landscape as we know it today.
            Injecting a much needed of documentaries, competition & hardware.
            Easy, We love surfing.
        </p>
    </div>
</section>

