body {
    background-color: #212121;
    color: antiquewhite;
}

#contHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contCarousel {
    display: flex;
    justify-content: center;
}

#contCarousel > div {
    width: 100%;
}

#contAbout {
    background-image: url(/Content/img/SantaBarbaraBN.jpg);
    background-size: 100% 100%;
    height: 681px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.contText {
    color: antiquewhite;
    width: 80%;
    text-align: center;
    padding-top: 20px;
}

.text {
    font-size: 20px;
}

#contContact > address:nth-child(3) {
    letter-spacing: 3px;
}

#contContact > p {
    letter-spacing: 3px;
}

.removeLineBreak {
    display: inline;
    font-weight: bold;
}

/*iframe Documentary*/
#size {
    width: 400px;
    height: 250px;
}

/*contenedor centrado Display*/
#contDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/*iframe centrado Display*/
#sizeCenter {
    width: 1100px;
    height: 628px;
}

#textarea {
    width: 60%;
}

input, textarea {
    color: black;
}

/*.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto ;
    padding: 10px;
}*/

.contenedor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.contenedor:after {
    content: '';
    flex: auto;
}

.flex-item {
    width: 500px;
    padding: 50px;
    margin: 50px;
}

.flex-item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.flex-item > a {
    text-decoration: none;
    color: antiquewhite;
    /*font-style: italic;*/
    font-size: large;
}

.flex-item > a:hover {
    text-decoration: none;
    color: antiquewhite;
    /*font-style: normal;*/
    font-size: large;
}

#contComments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contSurfer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementSurfer {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 50px;
}

#likes {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-top: 20px;
    max-width: 1100px;
}

#likes > p {
    width: 1040px;
}

#headerN{
    width: 100%;
    height: 310px;
    background-image: url("/Content/img/indoBN_News.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -278px;
    background-position-x: center;
}

#headerC {
    width: 100%;
    height: 310px;
    background-image: url("/Content/img/indoBN_Cinema.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -278px;
    background-position-x: center;
}

#headerH {
    width: 100%;
    height: 310px;
    background-image: url("/Content/img/indoBN_Hardware.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -278px;
    background-position-x: center;
}

/*.headerNDH > h2 {
    font-size: 40px;
    font-family: fantasy;
    position: absolute;
    top: 257px;
    left: 260px;
    color: black;
}*/

/*
 * ----------------------------------------
 * Animation grow
 * ----------------------------------------
*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Caja de texto buscador*/
.textboxSearch {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
   
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Div search*/
.search {
    padding-top: 16px;
    padding-left: 16px;
}

#pagination {
    text-align: center;
}

#pagination > button > a {
    color: black;
}

#pagination > button > a:hover {
    text-decoration: none;
}

#pagination > text {
    padding: 5px;
}

@media (min-width: 900px) {
    .navbar > * {
        width: 80%;
    }
}

#footer {
    list-style-type: none;
    display: inline-flex;
    margin-left: 8%;
    font-size: 16px;
}

#footer > li {
    margin-right: 25px;
}

#footer > li > a {
    text-decoration: none;
    color: antiquewhite;
    transition: 0.5s linear;
    padding: 10px;
}

#footer > li > a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

/*.carousel .item {
    position: fixed;
    width: 75%;
}*/

#contShop {
    background-image: url(/Content/img/Ocean.jpg);
    background-size: 100% 100%;
    height: 681px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#middleShop {
    margin-top: 100px;
    text-align: center;
}

#middleShop > h1 {
    font-size: 7rem;
}

#countdown {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 100px;
}

.media {
    padding: 4px;
    width: 150px;
}

.media > a {
    text-decoration: none;
}

.facebook {
    width: 15px;
    height: 10px;
    color: #3b5998;
    text-decoration: none;
    padding: 20px;
}

.instagram {
    width: 15px;
    height: 10px;
    color: #2A5B83;
    text-decoration: none;
    padding: 20px;
}

.youtube {
    width: 15px;
    height: 10px;
    color: #c4302b;
    text-decoration: none;
    padding: 20px;
}

.facebook:hover, .instagram:hover, .youtube:hover {
    text-decoration: none;
    color: white;
}

#contContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Content/img/cielo.jpg);
    background-size: 100% 100%;
    height: 681px;
    color: black;
}

.row {
    margin-bottom: 20%;
}

#register {
    margin-bottom: 11%;
}

#admin {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 24%;
    justify-content: center;
}

#admin > div {
    padding: 10px;
}

#admin > div > h3 {
    padding-left: 16%;
    text-decoration: underline;
}

.searchAdmin {
    margin-bottom: 30%;
}

#admin > div > ol > li > a {
    text-decoration: none;
    color: antiquewhite;
}

#admin > div > ol > li > a:hover {
    color: grey;
}